<!--

<h2>食堂管理员</h2>
<h3>业务范围</h3>

<h>
1. 食堂总流水查询(一个食堂多个店铺)--可视化???
2.消费者消费记录查询
3.食堂流水数据分析(某一天到某一天的流水查询)
......
4.仓库进货操作
5.查询仓库数据
</h>

form1---form6

//-->
{% extends "layout.html" %}

{% block content %}

    <style>
        .nssb {
            top: 10%;
            z-index: 9999;
            position: fixed;
            left: 10px;
        }
        /*表*/
        ul.nav-tabs {
            width: 110px;
            margin-top: 20px;
            border-radius: 4px;
            border: 1px solid #ddd;
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
        }

            ul.nav-tabs li {
                margin: 0;
                border-top: 1px solid #ddd;
            }

                ul.nav-tabs li:first-child {
                    border-top: none;
                }

                ul.nav-tabs li a {
                    margin: 0;
                    padding: 8px 16px;
                    border-radius: 0;
                }

                ul.nav-tabs li.active a, ul.nav-tabs li.active a:hover {
                    color: #fff;
                    background: #0088cc;
                    border: 1px solid #0088cc;
                }

                ul.nav-tabs li:first-child a {
                    border-radius: 4px 4px 0 0;
                }

                ul.nav-tabs li:last-child a {
                    border-radius: 0 0 4px 4px;
                }

            ul.nav-tabs.affix {
                top: 10%; /* Set the top position of pinned element */

            }
    </style>

    <div>
            <div class="nssb" >
                <br />
                <br />
                <br />
                <ul class="nav nav-tabs nav-stacked"  >
                    <li id="li1" style="background-color: azure"><a href="create_consumer">创建消费者</a></li>
                    <li id="li3" style="background-color: #87CEFF"><a href="create_shop">创建店铺</a></li>
                    <li id="li5" style="background-color: azure"><a href="ware_manage">仓库管理</a></li>
                </ul>
            </div>

    </div>
    <div>
            <div>
            <h1>创建店铺</h1>

                <div>
                        <form method="post">
                            <div style=" flex-direction:row;width: 100% ">
                                <div style="display:inline-block;">
                                    {{ form3.shopname.label }}<br><br> <!-- 店铺名-->
                                    {{ form3.shopid.label }}<br><br><!-- SID-->
                                    {{ form3.shopaddr.label }}<br><br><!-- 店铺地址-->
                                </div>
                                <div style="width: 20%;display:inline-block;">
                                    {{ form3.shopname(calss_="form-control") }}<br/><br>
                                    {{ form3.shopid(calss_="form-control") }}<br/><br/>
                                     {{form3.shopaddr(calss_="form-control") }}<br/><br>
                                </div>
                                <div>
                                    {{ form3.submit(class_="btn btn-default") }}
                                    <!-- 提交-->
                                </div>
                            </div>
                        </form>

                  </div>
            </div>
            <div>
            <h1>店铺列表</h1>
             <div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<table class="table">
				<thead>
					<tr class="info">
						<th>
							店铺名
						</th>
						<th>
							店铺序号
						</th>
						<th>
							店铺地址
						</th>
					</tr>
				</thead>
				<tbody>
                {% if shop %}
                    {% for item in shop %}
                         <tr class="success">
						<td>
							{{ item.shopname }}
						</td>
						<td>
							{{ item.shopno }}
						</td>
						<td>
							{{ item.shopaddr }}
						</td>

					</tr>
                    {% endfor %}
                {% else %}
                    <h3>还没有创建店铺</h3>
                {% endif %}
				</tbody>
			</table>
		</div>
	</div>
</div>
    </div>
    </div>
{% endblock %}

