
{% extends "layout.html" %}

{% block content %}

    <style>
        .nssb {
            top: 10%;
            z-index: 9999;
            position: fixed;
            left: 10px;
        }
        /*表*/
        ul.nav-tabs {
            width: 110px;
            margin-top: 20px;
            border-radius: 4px;
            border: 1px solid #ddd;
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
        }

            ul.nav-tabs li {
                margin: 0;
                border-top: 1px solid #ddd;
            }

                ul.nav-tabs li:first-child {
                    border-top: none;
                }

                ul.nav-tabs li a {
                    margin: 0;
                    padding: 8px 16px;
                    border-radius: 0;
                }

                ul.nav-tabs li.active a, ul.nav-tabs li.active a:hover {
                    color: #fff;
                    background: #0088cc;
                    border: 1px solid #0088cc;
                }

                ul.nav-tabs li:first-child a {
                    border-radius: 4px 4px 0 0;
                }

                ul.nav-tabs li:last-child a {
                    border-radius: 0 0 4px 4px;
                }

            ul.nav-tabs.affix {
                top: 10%; /* Set the top position of pinned element */

            }
    </style>

    <div>
            <div class="nssb" >
                <br />
                <br />
                <br />
                <ul class="nav nav-tabs nav-stacked"  >
                    <li id="li1" style="background-color: #87CEFF"><a href="create_consumer">创建消费者</a></li>
                    <li id="li3" style="background-color: azure"><a href="create_shop">创建店铺</a></li>
                    <li id="li5" style="background-color: azure"><a href="ware_manage">仓库管理</a></li>
                </ul>
            </div>

    </div>
    <div id="div1" >
        <div>
            <h1>创建消费者</h1>
                  <div>
                        <form method="post">
                            <div style=" flex-direction:row;width: 100% ">
                                <div style="display:inline-block;">
                                    {{ form1.username.label }}<br><br> <!-- 用户名-->
                                    {{ form1.userid.label }}<br><br><!-- UID-->
                                    {{ form1.age.label }}<br><br><!-- 年龄-->
                                    {{ form1.tel.label }}<br><br><!-- 手机号-->
                                </div>
                                <div style="width: 20%;display:inline-block;">
                                    {{ form1.username(calss_="form-control") }}<br/><br>
                                    {{ form1.userid(calss_="form-control") }}<br/><br/>
                                     {{ form1.age(calss_="form-control") }}<br/><br>
                                    {{ form1.tel(calss_="form-control") }}<br/><br/>
                                </div>
                                <div>
                                    {{ form1.submit(class_="btn btn-default") }}
                                </div>
                            </div>
                        </form>
                  </div>
        </div>

         <div>
            <h1>消费者列表</h1>
         <div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<table class="table">
				<thead>
					<tr>
						<th>
							ID
						</th>
						<th>
							用户名
						</th>
						<th>
							年龄
						</th>
						<th>
							电话
						</th>
					</tr>
				</thead>
				<tbody>
                {% if stu %}
                    {% for item in stu %}
                         <tr>
						<td>
							{{ item.sno }}
						</td>
						<td>
							{{ item.sname }}
						</td>
						<td>
							{{ item.sage }}
						</td>
						<td>
							{{ item.tel }}
						</td>
					</tr>
                    {% endfor %}
                {% else %}
                    <h3>还没有创建消费者</h3>
                {% endif %}
			        <tr>
						<td>
							1
						</td>
						<td>
							TB - Monthly
						</td>
						<td>
							01/04/2012
						</td>
						<td>
							Default
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

        </div>
    </div>


{% endblock %}

