{% extends "layout.html" %}

{% block content %}
 <meta charset="utf-8" />
<div class="jumbotron">
    <h1>食堂信息管理系统</h1>
    <p class="lead">模拟食堂管理员管理食堂信息的一个小网页</p>
</div>
<script type="text/javascript">
var s= 2*2;
</script>
<div class="row">
 <div class="col-md-4">
        <h2>食堂管理</h2>
        <p>模拟食堂管理员的各种业务</p>
        <p><a class="btn btn-default" href=" {{ url_for('create_consumer') }}">前往 &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>消费模拟</h2>
        <p>
            模拟食堂消费者的各种业务<span id="s"></span>
        </p>
        <p><a class="btn btn-default" href="{{ url_for('invest') }}">前往 &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>店铺模拟</h2>
        <p>模拟店铺管理员的各种业务</p>
        <p><a class="btn btn-default" href="{{ url_for('search_sales') }}">前往&raquo;</a></p>
    </div>
</div>

{% endblock %}
