<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CIMS</title>
    <link rel="stylesheet" type="text/css" href="/static/content/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/site.css" />
    <script src="/static/scripts/modernizr-2.6.2.js"></script>
    <style>
          .sbody {
            background-image: url('/static/images/bg.jpg');
            background-attachment: fixed;
            background-size: 100% 100%;
            opacity: 1;
        }
    </style>
</head>

<body class="sbody">
{% for message in get_flashed_messages() %}
	 <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            <strong>{{ message }}</strong>
     </div>
{% endfor %}
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">食堂信息管理系统</a>
            </div>
            <div class="navbar-collapse collapse" >
                <ul class="nav navbar-nav" style="width: 85%">
                    <li style=" margin:0 20px 0 0px;"><a href="{{ url_for('home') }}">首页</a></li>
                    <li><a href="{{ url_for('create_consumer') }}">食堂管理</a></li>

                     <li><a href="{{ url_for('invest') }}">消费者模拟</a></li>

                    <li><a href="{{ url_for('search_sales') }}">店铺模拟</a></li>
                    {% if user %}
                    <li style="float:right;width:auto;margin-right: 0px "><a href="#">你好!{{ user.aname }}</a></li>
                        {% else %}
                        <li style="float:right;width:auto;margin-right: 0px "><a href="{{ url_for('login') }}">登录</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        {% block content %}{% endblock %}
        <hr />
        <footer>
            <p>&copy; 2020 - CIMS</p>
        </footer>
    </div>

    <script src="/static/scripts/jquery-1.10.2.js"></script>
    <script src="/static/scripts/bootstrap.js"></script>
    <script src="/static/scripts/respond.js"></script>
    {% block scripts %}{% endblock %}

</body>
</html>