
{% extends "layout.html" %}

{% block content %}
    <head>
     <script type="text/javascript">
    var data={
        usr: $("#inputcount").val()
        }
    $.ajax=({
        url:'/login',
        data:data,
        type:'post',
        datatype:'json',
        success :function(result) //如果/route路由对应的函数有返回值的话
        {
            alert(result)
        },
        eorr : function(result)
        {
            alert('eorr')
        }
    })
    </script>
    </head>

   <div >
                    <div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<form class="form-horizontal" method="post">
				<div class="control-group">
					 <label class="control-label">ID</label>
					<div class="controls">
						<input type="text" name="userid" placeholder="请输入用户ID"><br/>
					</div>
				</div>
				<div class="control-group">
					 <label class="control-label" >密码</label>
					<div class="controls">
						<input type="password" name="password" placeholder="请输入密码"><br/>
					</div>
				</div>
				<div class="control-group">
					<div class="controls">
						<button type="submit" class="btn">登陆</button>
                            <h><a class="btn btn-default" href="{{ url_for('register') }}">快速注册</a></h>
                    </div>
				</div>
			</form>
		</div>
	</div>
</div>
             </div>
<div>

</div>
{% endblock %}
