
{% extends "layout.html" %}

{% block content %}

   <div >
                    <div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<form class="form-horizontal">
				<div class="control-group">
					 <label class="control-label" for="inputEmail">账号</label>
					<div class="controls">
						<input id="inputcount" type="text" name="inputcount"/>
					</div>
				</div>
				<div class="control-group">
					 <label class="control-label" for="inputPassword">密码</label>
					<div class="controls">
						<input id="inputPassword" type="password" name="inputPassword"/>
					</div>
				</div>
				<div class="control-group">
					<div class="controls">
						 <label class="checkbox"><input type="checkbox" /> 记住我</label> <button type="submit" class="btn">登陆</button>
                            <h><a class="btn btn-default" href="{{ url_for('register') }}">快速注册</a></h>
                    </div>
				</div>
			</form>
		</div>
	</div>
</div>
             </div>
{% endblock %}
