<!--

<h2>店铺拥有者</h2>
<h3>业务操作</h3>

<h>
    1.流水查询
    2.向仓库拿菜
    3.添加菜
    4.员工管理

</h>
form1--form9
//-->
{% extends "layout.html" %}

{% block content %}

    <style>
        .nssb {
            top: 10%;
            z-index: 9999;
            position: fixed;
            left: 10px;
        }
        /*表*/
        ul.nav-tabs {
            width: 110px;
            margin-top: 20px;
            border-radius: 4px;
            border: 1px solid #ddd;
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
        }

            ul.nav-tabs li {
                margin: 0;
                border-top: 1px solid #ddd;
            }

                ul.nav-tabs li:first-child {
                    border-top: none;
                }

                ul.nav-tabs li a {
                    margin: 0;
                    padding: 8px 16px;
                    border-radius: 0;
                }

                ul.nav-tabs li.active a, ul.nav-tabs li.active a:hover {
                    color: #fff;
                    background: #0088cc;
                    border: 1px solid #0088cc;
                }

                ul.nav-tabs li:first-child a {
                    border-radius: 4px 4px 0 0;
                }

                ul.nav-tabs li:last-child a {
                    border-radius: 0 0 4px 4px;
                }

            ul.nav-tabs.affix {
                top: 10%; /* Set the top position of pinned element */

            }
    </style>
    <div>
            <div class="nssb" >
                <br />
                <br />
                <br />
                <ul class="nav nav-tabs nav-stacked"  >
                    <li id="li2" style="background-color: azure"><a href="search_sales">销售查询</a></li>
                    <li id="li3" style="background-color: azure"><a href="worker_manage">员工管理</a></li>
                     <li id="li4" style="background-color: #87CEFF"><a href="main_task">主要业务</a></li>
                </ul>
            </div>

    </div>


 <div>
     <div>
            <h2>取材料</h2>
             <div>
                    <h3>仓库材料列表</h3>
                    <ul>
                        <li>材料名:剩余数量</li>
                         <li>材料名:剩余数量</li>
                         <li>材料名:剩余数量</li>
                         <li>材料名:剩余数量</li>
                         <li>材料名:剩余数量</li>
                         <li>材料名:剩余数量</li>
                    </ul>
                </div>
             <div>
                  <form method="post">
                            <div style=" flex-direction:row;width: 100% ">
                                <div style="display:inline-block;">
                                    {{ form7.shopid.label }}<br><br><!-- 货物数量-->
                                    {{ form7.goodsname.label }}<br><br><!-- 货物名-->
                                    {{ form7.goodsnum.label }}<br><br><!-- 货物数量-->
                                </div>
                                <div style="width: 20%;display:inline-block;">
                                    {{ form7.shopid(calss_="form-control") }}<br/><br>
                                    {{ form7.goodsname(calss_="form-control") }}<br/><br>
                                    {{ form7.goodsnum(calss_="form-control") }}<br/><br>
                                </div>
                                <div>
                                    {{ form7.submit(class_="btn btn-default") }}
                                    <!-- 确定-->
                                </div>
                            </div>
                        </form>
             </div>
        </div>
        <div>
            <h2>添加到菜单</h2>
             <div>
                 <form method="post">
                            <div style=" flex-direction:row;width: 100% ">
                                <div style="display:inline-block;">
                                    {{ form8.shopid.label }}<br><br><!-- 店铺ID-->
                                    {{ form8.foodname.label }}<br><br><!-- 食物名-->
                                    {{  form8.price.label }}<br><br><!-- 价格-->
                                </div>
                                <div style="width: 20%;display:inline-block;">
                                    {{ form8.shopid(calss_="form-control") }}<br/><br>
                                    {{ form8.foodname(calss_="form-control") }}<br/><br>
                                    {{  form8.price(calss_="form-control") }}<br/><br>
                                </div>
                                <div>
                                    {{ form8.submit(class_="btn btn-default") }}
                                    <!-- 添加-->
                                </div>
                            </div>
                        </form>
          </div>
        </div>
    <div>
        <h2>查看菜单</h2>
         <div>
               <form method="post">
                            <div style=" flex-direction:row;width: 100% ">
                                <div style="display:inline-block;">
                                    {{ form9.shopid.label }}<br><br><!-- 店铺ID-->
                                </div>
                                <div style="width: 20%;display:inline-block;">
                                    {{ form9.shopid(calss_="form-control") }}<br/><br>
                                </div>
                                <div>
                                    {{ form9.submit(class_="btn btn-default") }}
                                    <!-- 查询-->
                                </div>
                            </div>
                        </form>
         </div>
    </div>
    </div>


{% endblock %}

