{% extends "layout.html" %}

{% block content %}
<!--
<h2>消费者</h2>
<h3>业务内容</h3>
<h>
    1.消费:到某个食堂的某一家店消费,消费了XX元,在XX时间
        问题:怎么模拟消费
            1.输入食堂名查询店铺
            2.输入店名查询菜品
            3.输入菜品模拟消费
    触发器:余额不足
    2.查询:
        查询自己的消费记录
        查询自己的余额
    3.引申问题:登录怎么做?
        三种登录(三个页面各自一个登录?)?/通过输入消费者id模拟消费
    4.个人消费数据分析数据
</h>
form1--form5
//-->

    <style>
        .nssb {
            top: 10%;
            z-index: 9999;
            position: fixed;
            left: 10px;
        }
        /*表*/
        ul.nav-tabs {
            width: 110px;
            margin-top: 20px;
            border-radius: 4px;
            border: 1px solid #ddd;
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
        }

            ul.nav-tabs li {
                margin: 0;
                border-top: 1px solid #ddd;
            }

                ul.nav-tabs li:first-child {
                    border-top: none;
                }

                ul.nav-tabs li a {
                    margin: 0;
                    padding: 8px 16px;
                    border-radius: 0;
                }

                ul.nav-tabs li.active a, ul.nav-tabs li.active a:hover {
                    color: #fff;
                    background: #0088cc;
                    border: 1px solid #0088cc;
                }

                ul.nav-tabs li:first-child a {
                    border-radius: 4px 4px 0 0;
                }

                ul.nav-tabs li:last-child a {
                    border-radius: 0 0 4px 4px;
                }

            ul.nav-tabs.affix {
                top: 10%; /* Set the top position of pinned element */

            }
    </style>
    <div>
            <div class="nssb" >
                <br />
                <br />
                <br />
                <ul class="nav nav-tabs nav-stacked"  >
                    <li id="li1" style="background-color: azure"><a href="invest">充值与账单</a></li>
                    <li id="li2" style="background-color: #87CEFF"><a href="mock_consume">消费模拟</a></li>
                </ul>
            </div>

    </div>

    <div id="div2" >
            <div>
                <h1>消费模拟</h1>
                <div>
                     <h2>店铺列表</h2>
                    <div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<table class="table">
				<thead>
					<tr class="info">
						<th>
							店铺ID
						</th>
						<th>
							店铺名
						</th>
						<th>
							店铺地址
						</th>
					</tr>
				</thead>
				<tbody>
                {% if shop %}
                    {% for item in shop %}
                         <tr class="warning">
						<td>
							{{ item.shopno }}
						</td>
						<td>
							{{ item.shopname }}
						</td>
						<td>
							{{ item.shopaddr }}
						</td>
					</tr>
                    {% endfor %}
                {% else %}
                    <h3>还没有店铺</h3>
                {% endif %}
				</tbody>
			</table>
		</div>
	</div>
</div>
          </div>
                    <div>
                         <form method="post">
                            <div style=" flex-direction:row;width: 100% ">
                                <div style="display:inline-block;">
                                    {{ form4.shopid.label }}<br><br><!-- shopid 选择店铺-->
                                </div>
                                <div style="width: 20%;display:inline-block;">
                                    {{ form4.shopid(calss_="form-control") }}<br/><br>
                                </div>
                                <div>
                                    {{ form4.submit(class_="btn btn-default") }}<!-- 查询菜单-->
                                </div>
                            </div>
                         </form>
                  </div>

                </div>
                <div>
                     <h2>菜品列表</h2>
                {% if list %}
                        <div class="row-fluid">
		<div class="span12">
			<table class="table">
				<thead>
					<tr class="info">
						<th>
							菜ID
						</th>
						<th>
							菜名
						</th>
						<th>
							价格
						</th>
					</tr>
				</thead>
				<tbody>

                    {% for item in list %}
                         <tr class="warning">
						<td>
							{{ item.id }}
						</td>
						<td>
							{{ item.fname }}
						</td>
						<td>
							{{ item.price }}
						</td>
					</tr>
                    {% endfor %}

				</tbody>
			</table>
		</div>
	</div>
                {% else %}
                    <div style="text-align: center">

                    <h3>还没有菜品</h3>
                    </div>
                {% endif %}
                </div>

                </div>
                 <div>
                     <form method="post">
                            <div style=" flex-direction:row;width: 100% ">
                                <div style="display:inline-block;">
                                    {{ form5.userid.label }}<br><br><!-- userid 消费者-->
                                    {{ form5.foodid.label }}<br><br><!-- shopid 选择菜-->
                                    {{ form5.date.label }}<br><br><!-- 消费日期-->
                                </div>
                                <div style="width: 20%;display:inline-block;">
                                    {{ form5.userid(calss_="form-control") }}<br/><br>
                                    {{ form5.foodid(calss_="form-control") }}<br/><br>
                                    {{ form5.date(calss_="form-control") }}<br/><br>
                                </div>
                                <div>
                                    {{ form5.submit(class_="btn btn-default") }}<!-- 确定-->
                                </div>
                            </div>
                         </form>
                  </div>
                 {% if price %}
                        <h3>消费提示:你消费了{{ price }}元</h3>
                 {% endif %}
                </div>


             </div>
    </div>





{% endblock %}
