{% extends "layout.html" %}
{% block content %}

<div class="page-header">
    <h1>用户注册</h1>
</div>




        <form method="post">
            <div style=" flex-direction:row;width: 100% ">
                     <div style="display:inline-block;">
                         {{ form.username.label }}<br>
                        <br>
                         {{ form.password.label }}<br>
                        <br>
                         {{ form.password2.label }}<br>
                        <br/>

                        </div>
                        <div style="width: 20%;display:inline-block;">
                        {{ form.username(calss_="form-control") }}<br/>
                         <br>
                        {{ form.password(calss_="form-control") }}<br/>
                        <br/>
                            {{ form.password2(calss_="form-control") }}<br/>
                        <br/>

                        </div>
                         <div>
                                {{ form.submit(class_="btn btn-default") }}
                         </div>
  </div>

 </form>








{% endblock %}
