{% extends "layout.html" %}
{% block content %}

<div class="page-header">
    <h1>用户注册</h1>
</div>
<form method="post">
    <label>ID：</label><input type="text" name="userid" placeholder="请输入用户名"><br/>
    <label>用户名：</label><input type="text" name="username" placeholder="请输入用户名"><br/>
    <label>密码：</label><input type="password" name="password" placeholder="请输入密码"><br/>
    <label>确认密码：</label><input type="password" name="password2" placeholder="请输入确认密码"><br/>
    <input type="submit" value="注册">
</form>
{% endblock %}
